html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1;
  background-color: $white;
  color: $default;
  @extend %rubik-400;

  @include for-tablet-portrait {
    font-size: 16px;
  }

  &.lock-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;

  &--sm {
    max-width: 1205px;
  }
}

button {
  border: none;
  background: none;
  outline: transparent;
  cursor: pointer;
  padding: 0;
  outline-color: $default;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: $default;
  text-align: center;

  @include for-tablet-portrait {
    font-size: 30px;
  }

  @include for-phone-only {
    font-size: 24px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @include for-phone-only {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }

  &__btn {
    background-color: transparent;
    @extend %dmsans-700;
    color: #8b8b8b;
    transition: color .3s ease;

    &:hover {
      color: $default;
    }

    &:focus {
      outline-color: $default;
    }

    &:active {
      color: $light-blue;
    }

    &.mixitup-control-active {
      color: $default;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }

    @include for-phone-only {
      padding: 10px 0;

      &:not(:last-child) {
        margin-right: 0px;
      }
    }
  }
}

.caption {
  padding: 33px 0;
  background-color: #edf1f4;

  @include for-phone-only {
    padding: 20px 0;
  }

  &__title {
    text-align: center;
    font-size: 36px;
    @extend %rubik-300;
    color: #222933;
    margin-bottom: 11px;

    @include for-tablet-portrait {
      font-size: 32px;
    }
  }

  &__holder {
    display: flex;
    justify-content: center;
  }
}

.breadcrumbs {
  display: flex;

  &__item {
    position: relative;
    padding-right: 20px;
    color: #979ba0;

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child) {

      &::after {
        content: '/';
        position: absolute;
        font-size: 14px;
        right: 6px;
        top: 3px;
        color: inherit;
      }
    }
  }

  &__link {
    @extend %rubik-400;
    border-bottom: 2px solid transparent;
    transition: border-bottom .4s ease;

    &:hover {
      border-bottom-color: #979ba0;
    }
  }
}


.icon {
  width: 18px;
  height: 18px;
}

// ************************************************//