html,
body {
  height: 100%;

  &.lock-scroll {
    overflow: hidden;
  }
}

body {
  font-size: 16px;
  line-height: 1;
  background-color: $white;
  color: $default;
  @extend %rubik-400;

  @include for-tablet-portrait {
    font-size: 16px;
  }
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;

  &--sm {
    max-width: 1205px;
  }
}

button {
  border: none;
  background: none;
  outline: transparent;
  cursor: pointer;
  padding: 0;
  outline-color: $default;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: $default;
  text-align: center;

  @include for-tablet-portrait {
    font-size: 30px;
  }

  @include for-phone-only {
    font-size: 24px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  @include for-phone-only {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }

  &__btn {
    background-color: transparent;
    @extend %dmsans-700;
    color: #8b8b8b;
    transition: color .3s ease;

    &:hover {
      color: $default;
    }

    &:focus {
      outline-color: $default;
    }

    &:active {
      color: $light-blue;
    }

    &.mixitup-control-active {
      color: $default;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }

    @include for-phone-only {
      padding: 10px 0;

      &:not(:last-child) {
        margin-right: 0px;
      }
    }
  }
}

.breadcrumbs {
  padding: 33px 0;
  background-color: #edf1f4;

  @include for-phone-only {
    padding: 20px 0;
  }

  &__title {
    text-align: center;
    font-size: 36px;
    @extend %rubik-300;
    color: #222933;
    margin-bottom: 11px;

    @include for-tablet-portrait {
      font-size: 32px;
    }
  }

  &__holder {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    padding-right: 20px;
    color: #979ba0;

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child) {

      &::after {
        content: '/';
        position: absolute;
        font-size: 14px;
        right: 6px;
        top: 3px;
        color: inherit;
      }
    }
  }

  &__link {
    @extend %rubik-400;
    border-bottom: 2px solid transparent;
    transition: border-bottom .4s ease;

    &:hover {
      border-bottom-color: #979ba0;
    }
  }
}


// ****************************************//
.product-card {
  max-width: 270px;
  width: 100%;
  min-height: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  padding: 33px 0px;
  position: relative;


  &--line {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    padding: 0;
    box-shadow: none;
    align-items: normal;
    text-align: left;
    position: relative;

    &:hover .product-card__btn {
      opacity: 1;
    }

    .product-card__image {
      border: 1px solid $border;
      margin-right: 58px;
    }

    .product-card__img {
      max-width: 370px;
      min-height: 500px;
      margin-bottom: 0;
      padding: 0 35px;
    }

    .product-card__info {
      padding-top: 90px;
    }

    .product-card__heading {
      margin-bottom: 16px;
    }

    .product-card__link {
      font-size: 40px;
      line-height: inherit;
      @extend %rubik-400;
      max-width: 420px;
      @include line-clamp-1;
    }

    .product-card__rating {
      margin-bottom: 28px;
    }

    .product-card__price {
      display: block;
      font-size: 30px;
      line-height: 1.5;
      color: $light-blue;
      margin-bottom: 18px;
    }

    .product-card__descr {
      @include line-clamp-4;
      color: $title;
      line-height: 1.9;
      margin-bottom: 30px;
    }

    .product-card__btn {
      color: $white;
      background-color: $light-blue;
      font-size: 15px;
      line-height: 2;
      padding: 10px 57px;
      border-radius: 5px;
      text-transform: uppercase;
      position: absolute;
      right: 65px;
      bottom: 70px;
      position: absolute;
      opacity: 0;
      transition: opacity .5s ease;
    }

    .icons {
      opacity: 1;
      max-width: 165px;
      bottom: 77px;
      left: 455px;
    }

    .icons__icon {
      border-radius: 0;
      box-shadow: none;
    }

    .icons__icon--search {
      display: none;
    }

    .product-card__add,
    .product-card__rating {
      display: block;
    }
  }

  &__rating,
  &__pricing,
  &__add {
    display: none;
  }

  &:hover {
    .icons {
      opacity: 1;
    }
  }

  @include for-desktop {
    padding: 25px 0;
    margin: 0 auto;
  }

  @include for-tablet-portrait {
    max-width: 350px;
  }

  @include for-phone-only {
    max-width: 280px;
  }

  &__img {
    max-width: 240px;
    min-height: 210px;
    object-fit: scale-down;
    margin-bottom: 45px;

    @include for-desktop {
      max-width: 200px;
    }

    @include for-tablet-portrait {
      margin-bottom: 25px;
    }
  }

  &__link {
    max-width: 260px;
    @include line-clamp-1;
    line-height: 2.5;
    @extend %rubik-500;
    font-size: 16px;
    color: $title;
    border-bottom: 2px solid transparent;
    transition: color .5s ease;
    @extend %focus;
    @extend %active;

    &:hover {
      color: $light-blue;
    }
  }

  &__price {
    @extend %dmsans-700;
    color: $light-blue;
  }

  .mixitup-control-active {
    color: $default;
  }
}

// ****************************************//
.icons {
  position: absolute;
  max-width: 220px;
  width: 100%;
  height: 40px;
  bottom: 163px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity .4s ease-in-out;

  &__icon {
    position: absolute;
    background-color: $white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.77);
    transition: background-color .4s ease, color .4s ease;

    &:hover {
      background-color: $light-blue;
    }

    &::after {
      @extend %content;
      @extend %top-left-50;
      @extend %bg-contain;
      @extend %ico;
      color: $light-blue;
      font-size: 18px;
    }

    &--search {
      left: 0px;

      &::after {
        content: "\f002";
      }
    }

    &--basket {
      left: 50%;
      transform: translateX(-50%);

      &::after {
        content: "\f07a";
      }
    }

    &--heart {
      right: 0px;

      &::after {
        content: "\f08a";
      }
    }

    &:hover::after {
      color: $white;
    }
  }
}

.pagination {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $title;
  line-height: 1.8;

  @include for-desktop {
    padding: 75px 0 20px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 11px;
    }
  }

  &__link {
    border: 1px solid $light-blue;
    padding: 14px 21px;
    transition: background-color .4s ease,
      color .4s ease;

    @include for-desktop {
      padding: 12px 18px;
    }

    @include for-phone-only {
      padding: 10px 15px;
    }

    &.active {
      background-color: $light-blue;
      color: $white;
    }

    &:hover {
      background-color: $light-blue;
      color: $white;
    }

    &:active {
      background-color: $title;
    }

    &:focus {
      outline-color: transparent;
    }
  }

  &__next {
    padding: 9px 20px;
    border: 1px solid $light-blue;
    transition: background-color .4s ease,
      color .4s ease;

    @include for-desktop {
      padding: 8px 16px;
    }

    @include for-phone-only {
      padding: 5px 11px;
    }

    &:hover {
      background-color: $light-blue;
      color: $white;
    }

    &:active {
      background-color: $title;
    }

    &:focus {
      outline-color: transparent;
    }
  }

  &--line {
    justify-content: start;
    padding-top: 75px;

    @include for-desktop {
      justify-content: center;
      padding-top: 50px;
    }
  }
}

.partners-slider {
  background-color: $slider-bg;
}

.control__icon {
  width: 30px;
  height: 30px;
  fill: $light-blue;
  display: none;
  z-index: 32;

  @include for-tablet-landscape {
    display: block;
    position: absolute;
    right: 30px;
    top: 290px;
  }
}



// ************************************************//