@mixin for-big-desktop {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin for-desktop {
  @media (max-width: 1330px) {
    @content;
  }
}

@mixin for-tablet-landscape {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin for-tablet-portrait {
  @media (max-width: 650px) {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 395px) {
    @content;
  }
}

//********************************//
@mixin line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin line-clamp-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/***************************************/

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}