$white: #ffffff;
$accent: #436372;
$default: #191919;
$title: #243f4d;
$light-blue: #a3bbc8;
$medium-blue: #234969;
$orange:#fcd7b6;
$footer-color:#7b7b7b;

/********************************/
%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik',
    sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans',
    sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans',
    sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans',
    sans-serif;
  font-weight: 700;
}

/********************************/
@mixin line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin line-clamp-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}