$white: #ffffff;
$accent: #436372;
$default: #191919;
$title: #243f4d;
$light-blue: #a3bbc8;
$medium-blue: #234969;
$orange:#fcd7b6;
$footer-color:#7b7b7b;
$dark-grey :#262626;
$about-decorate: #e6eaf0;
$sort-grey:#565872;
$dark-grey:#333333;
$border:#f2f2f2;
$extra-light-blue: #edf1f4;
$date-color:#9a9a9a;

/********************************/
%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}


%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik',
    sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik',
    sans-serif;
  font-weight: 700;
}

%dmsans-400 {
  font-family: 'DMSans',
    sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans',
    sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans',
    sans-serif;
  font-weight: 700;
}

%button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

%bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%bg-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

%content {
  content: '';
  position: absolute;
}

%top-50 {
  top: 50%;
  transform: translateY(-50%)
}

%top-left-50 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%focus {
  &:focus {
    outline-color: transparent;
  }
}

%active {
  &:active {
    color: $default
  }
}

%ico {
  font-family: 'icomoon' !important;
}

%checkbox {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute
}

%line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}