.header {
  padding: 50px 0 65px;

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }
}

.logo {
  position: absolute;
  left: 0;
}

.menu {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    color: $accent;
    font-size: 15px;
    line-height: 1;
    @extend %rubik-500;
    transition: border-bottom .3s ease;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $accent;
    }

    &:focus {
      outline-color: $accent;
    }

    &:active {
      color: $default;
    }

    &--plus {
      position: relative;
      padding-right: 13px;

      &::after {
        content: '+';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 10px;
        height: 13px;
        color: $accent
      }
    }
  }
}

.user {
  display: flex;
  position: absolute;
  right: 0;
  padding-top: 10px;

  &__link {
    position: relative;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--search,
    &--ellipse {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 0;
      border: none;
    }

    &--search {
      background-color: #edf1f4;
    }

    &--ellipse {
      background-color: $light-blue;
    }

    &--search,
    &--heart,
    &--basket,
    &--ellipse {
      &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
      }
    }

    &--search::after {
      background-image: url("../images/icons/search.svg");
    }

    &--heart::after {
      background-image: url("../images/icons/heart.svg");
    }

    &--basket::after {
      background-image: url("../images/icons/basket.svg");
    }

    &--ellipse::after {
      background-image: url("../images/icons/ellipse.svg");
    }
  }

  &__num {
    position: absolute;
    top: -18px;
    right: -18px;
    padding: 1px 5px;
    height: 15px;
    background-color: $white;
    border-radius: 30px;
    color: $default;
    z-index: 5;
    font-size: 10px;
    color: $default;
    text-align: center;
    line-height: 1.5;
  }
}

.user__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $orange;
  width: 175px;
  height: 50px;
  border-radius: 35px;
  margin-right: 20px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #fde7d3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
}