.home {
  &__slider {
    background-color: $orange;
    min-height: 820px;

    @include for-big-desktop {
      min-height: 640px;
    }

    @include for-desktop {
      min-height: 600px;
    }
  }

  &__item {
    padding: 220px 0;

    @include for-big-desktop {
      padding: 140px 0;
    }

    @include for-desktop {
      padding: 120px 0;
    }

    @include for-tablet-landscape {
      padding: 90px 0;
    }

    @include for-phone-only {
      padding: 50px 0;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-tablet-landscape {
      flex-direction: column;
    }
  }

  &__descr {
    max-width: 525px;

    @include for-big-desktop {
      max-width: 455px;
    }

    @include for-desktop {
      max-width: 300px;
    }

    @include for-tablet-landscape {
      max-width: 100%;
      text-align: center;
      margin-bottom: 28px;
    }

    @include for-phone-only {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 72px;
    color: $title;
    text-transform: uppercase;
    margin-bottom: 25px;
    @include line-clamp-2;

    @include for-big-desktop {
      font-size: 60px;
    }

    @include for-desktop {
      font-size: 50px;
    }

    @include for-phone-only {
      font-size: 40px;
    }
  }

  &__text {
    max-width: 370px;
    font-size: 18px;
    line-height: 1.6;
    color: $accent;
    margin-bottom: 55px;
    @include line-clamp-3;

    @include for-desktop {
      max-width: 300px;
      margin-bottom: 45px;
    }

    @include for-tablet-landscape {
      max-width: 100%;
      padding: 0 10px;
    }
  }

  &__link {
    background-color: $light-blue;
    color: $white;
    @extend %rubik-500;
    padding: 19px 102px 23px 21px;
    position: relative;
    transition: background-color .4s ease;
    @extend %focus;

    &:hover {
      background-color: $title;
    }

    &:active {
      background-color: $default;
    }

    &::after {
      @extend %content;
      width: 22px;
      height: 9px;
      @extend %top-50;
      right: 15px;
      background-image: url('../images/icons/arrow-right.svg');
      @extend %bg-contain;
    }

    @include for-desktop {
      padding: 15px 71px 16px 21px;
    }
  }

  &__product {
    position: relative;
    padding-top: 30px;

    &::after {
      @extend %content;
      top: -120px;
      right: -116px;
      background-image: url("../images/home/home-bg.png");
      @extend %bg-cover;
      width: 607px;
      height: 629px;
      z-index: -1;

      @include for-big-desktop {
        top: -77px;
        right: -71px;
        width: 438px;
        height: 457px;
      }

      @include for-desktop {
        top: -30px;
        right: -71px;
        width: 355px;
        height: 365px;
      }

      @include for-tablet-landscape {
        top: 20px;
        right: -45px;
        width: 271px;
        height: 281px;
      }

      @include for-tablet-portrait {
        display: none;
      }
    }

    @include for-phone-only {
      padding-top: 0;
    }
  }

  &__img {
    max-width: 640px;
    min-height: 265px;
    z-index: 5;

    @include for-big-desktop {
      max-width: 500px;
      object-fit: contain;
    }

    @include for-desktop {
      max-width: 455px;
    }

    @include for-tablet-portrait {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);

    li:not(:last-child) {
      margin-right: 10px;
    }

    button {
      font-size: 11px;
      background-color: #fde3cc;
      border-radius: 50%;
      color: $title;
      width: 30px;
      height: 30px;
      transition: background-color .4s ease, color .4s ease;

      &:hover {
        background-color: $light-blue;
        color: $white;
      }
    }
  }

  .slick-active button {
    background-color: $white;
  }
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef7f0;

  @include for-desktop {
    flex-wrap: wrap;
  }

  &__item {
    padding: 37px 0;
    max-width: 595px;
    width: 100%;
    min-height: 165px;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;

      @include for-desktop {
        border-right: none;
      }

      @include for-tablet-portrait {
        border-bottom: 1px solid #e8e4df;
      }
    }

    @include for-desktop {
      min-height: 105px;
      padding: 14px 0;
      width: 50%;
    }

    @include for-tablet-portrait {
      width: 100%;
      padding: 25px 10px;
    }
  }

  &__content {
    max-width: 295px;
    width: 100%;
    padding-left: 80px;
    position: relative;
    margin: 0 auto;

    &::before {
      @extend %content;
      width: 52px;
      height: 55px;
      left: 0;
      top: 0px;
      @extend %bg-contain;

      @include for-tablet-portrait {
        width: 45px;
        height: 45px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--support::before {
      background-image: url("../images/icons/support.png");
    }

    &--delivery::before {
      background-image: url("../images/icons/delivery.png");
    }

    &--payment::before {
      background-image: url("../images/icons/payment.png");
    }

    @include for-phone-only {
      padding-left: 65px;
    }
  }

  &__title {
    color: #414141;
    font-size: 18px;
    line-height: 2;
    @extend %dmsans-700;
  }

  &__text {
    max-width: 220px;
    color: #585858;
    line-height: 1.7;
    @extend %dmsans-400;
    @include line-clamp-2;
  }
}