.insights {
  padding: 105px 0 0;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }

  &__link {
    @extend %dmsans-700;
    color: #262626;
    margin-left: auto;
    padding-bottom: 4px;
    @extend %focus;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .4s ease;

    &:hover {
      border-bottom-color: $default;
    }

    &:active {
      border-bottom-color: $light-blue;
    }
  }

  svg {
    margin-left: 10px;
  }
}

.news {
  display: flex;
  justify-content: space-between;
  z-index: 5;

  &__box {
    max-width: 370px;
    min-height: 420px;
    position: relative;
    background-color: $white;
    border-radius: 10px;
  }

  &__image {
    height: 250px;
    margin-bottom: 33px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__link {
    font-size: 14px;
    @extend %dmsans-700;
    line-height: 1.4;
    text-transform: uppercase;
    color: $white;
    background-color: $light-blue;
    padding: 8px 30px;
    border-radius: 15px;
    position: absolute;
    left: 31px;
    bottom: 153px;
    transition: background-color .5s ease;

    &:hover {
      background-color: $default;
    }
  }

  &__descr {
    max-width: 310px;
    margin: 0 auto;
    @extend %dmsans-500;
    font-size: 18px;
    @include line-clamp-2;
    line-height: 1.3;
    border-bottom: 1px solid #e0e0e0;
    min-height: 75px;
    color: inherit;
    @extend %focus;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $light-blue;
    }
  }

  &__meta {
    padding: 18px 0 0 27px;
    font-size: 12px;
    line-height: 2.5;
    text-transform: uppercase;
  }

  &__date {
    padding-right: 37px;
  }
}

.partners {
  background-color: #fef7f0;
  padding: 270px 0 75px;
  z-index: 1;
  margin-top: -170px;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    min-height: 75px;
    padding: 0 33px 0 16px;
  }

  &__logo {
    @extend %focus;
  }
}