.insights {
  padding-top: 120px;

  @include for-desktop {
    padding-top: 80px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 45px;

    @include for-tablet-portrait {
      display: block;
    }
  }

  &__link {
    @extend %dmsans-700;
    color: $dark-grey;
    margin-left: auto;
    padding-bottom: 4px;
    @extend %focus;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .4s ease;
    position: relative;
    padding-right: 30px;

    &:hover {
      border-bottom-color: $default;
    }

    &:active {
      border-bottom-color: $light-blue;
    }

    @include for-desktop {
      padding-right: 18px;
    }

    @include for-tablet-portrait {
      display: block;
      text-align: center;
      padding-top: 30px;
      font-size: 14px;
    }

    &::after {
      @extend %content;
      width: 12px;
      height: 12px;
      @extend %bg-contain;
      background-image: url('../images/icons/arrow-sm.svg');
      top: 3px;
      right: 0;

      @include for-tablet-portrait {
        display: none;
      }
    }
  }
}

.news {
  display: flex;
  justify-content: space-between;
  z-index: 5;

  @include for-tablet-landscape {
    flex-wrap: wrap;
  }

  &__box {
    max-width: 370px;
    min-height: 420px;
    position: relative;
    background-color: $white;
    border-radius: 10px;

    @include for-desktop {
      max-width: 32%;
      width: 100%;
    }

    @include for-tablet-landscape {
      box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.38);
      max-width: 45%;
      width: 100%;
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    @include for-tablet-portrait {
      max-width: 75%;
    }

    @include for-phone-only {
      max-width: 100%;
    }
  }

  &__image {
    height: 250px;
    margin-bottom: 33px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include for-tablet-landscape {
      border-top-right-radius: 11px;
      border-top-left-radius: 11px;
    }
  }

  &__link {
    font-size: 14px;
    @extend %dmsans-700;
    line-height: 1.4;
    text-transform: uppercase;
    color: $white;
    background-color: $light-blue;
    padding: 8px 30px;
    border-radius: 15px;
    position: absolute;
    left: 31px;
    bottom: 153px;
    transition: background-color .5s ease;

    &:hover {
      background-color: $default;
    }

    @include for-tablet-portrait {
      bottom: 150px;
    }
  }

  &__descr {
    max-width: 310px;
    margin: 0 auto;
    @extend %dmsans-500;
    font-size: 18px;
    @include line-clamp-2;
    line-height: 1.3;
    border-bottom: 1px solid #e0e0e0;
    min-height: 75px;
    color: inherit;
    @extend %focus;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $light-blue;
    }

    @include for-desktop {
      padding: 0 10px;
    }
  }

  &__meta {
    padding: 14px 0 0 34px;
    font-size: 12px;
    line-height: 2.5;
    text-transform: uppercase;

    @include for-desktop {
      padding: 18px 10px 10px 25px;
    }

    svg {
      margin: 0 10px;
    }
  }

  &__date {
    padding-right: 7px;
  }

  &__date,
  &__author {
    position: relative;
    padding-left: 18px;

    &::before {
      @extend %content;
      width: 13px;
      height: 13px;
      top: 0;
      left: 0;
    }
  }

  &__date {
    &::before {
      background-image: url('../images/icons/calendar.svg');
    }
  }

  &__author {
    &::before {
      background-image: url('../images/icons/user.svg');
    }
  }
}

.partners {
  background-color: #fef7f0;
  padding: 270px 0 75px;
  z-index: 1;
  margin-top: -170px;

  @include for-tablet-landscape {
    padding: 225px 0 75px;
    margin-top: -174px;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    min-height: 75px;
    padding: 0 33px 0 16px;

    @include for-tablet-portrait {
      max-width: 100%
    }
  }

  &__box {
    @extend %focus;
  }
}