.products {
  padding: 70px 0 0;

  @include for-tablet-portrait {
    padding: 45px 0 0;
  }

  &__title {
    margin-bottom: 33px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 90px;

    @include for-desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include for-tablet-landscape {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-tablet-portrait {
      grid-template-columns: 1fr;
    }
  }
}


.goods {
  padding-top: 100px;

  @include for-tablet-portrait {
    padding-top: 20px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include for-tablet-landscape {
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #feefe2;
    min-height: 385px;

    @include for-desktop {
      min-height: 325px;
    }

    @include for-phone-only {
      flex-direction: column;
      min-height: 420px;
      max-width: 290px;
      margin: 0 auto;
      padding: 15px;
    }
  }

  &__image {
    margin-top: -180px;

    @include for-tablet-landscape {
      margin-top: -70px;
    }

    &--order {
      @include for-tablet-landscape {
        order: 2;
      }
    }

    @include for-phone-only {
      order: 2;
      margin-top: 50px;
    }
  }

  &__img {
    max-width: 235px;
    min-height: 400px;
    object-fit: contain;

    @include for-desktop {
      max-width: 80%;
    }

    @include for-tablet-landscape {
      max-width: 75%;
      min-height: 200px;
      padding-left: 15px;
    }

    @include for-phone-only {
      max-width: 50%;
      margin: 0 auto;
      padding-left: 0;
    }
  }

  &__info {
    max-width: 340px;
    padding-left: 30px;

    @include for-desktop {
      max-width: 65%;
      padding: 0 15px;
    }

    @include for-phone-only {
      max-width: 100%;
      text-align: center;
    }
  }

  &__caption {
    @extend %dmsans-700;
    line-height: 1.2;
    font-size: 26px;
    color: $title;
    margin-bottom: 15px;
    @include line-clamp-2;

    &:hover {
      text-decoration: underline;
    }

    @include for-phone-only {
      font-size: 20px;
    }
  }

  &__descr {
    line-height: 1.8;
    @include line-clamp-2;
    margin-bottom: 53px;
    color: $title;

    @include for-tablet-landscape {
      line-height: 1.4;
      margin-bottom: 35px;
    }
  }

  &__more {
    font-size: 15px;
    @extend %rubik-500;
    color: $accent;
    border: 1px solid #b3b7b5;
    padding: 21px 86px 21px 21px;
    position: relative;
    transition: background-color .5s ease, color .5s ease;
    @extend %focus;

    &:hover {
      background-color: $title;
      color: $white;

      &::after {
        color: $white;
      }
    }

    &:active {
      border-color: $default;
    }

    &::after {
      @extend %content;
      content: '\f178';
      @extend %ico;
      font-size: 18px;
      right: 14px;
    }

    @include for-tablet-landscape {
      padding: 15px 43px 15px 21px;
    }
  }
}